<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kjwordsynonyms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/01794a13-ca82-4875-8a1b-8e500df2d44b/resourceGroups/KJ_GROUP/providers/Microsoft.Web/sites/KJWordSynonyms</ResourceId>
    <UserName>$KJWordSynonyms</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://kjwordsynonyms.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>